/* Importing Jetbrains mono font */
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
/* importing space grotesk font */
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
/* importing space mono font */
@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
/* importing lexend deca font */
@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:100,200,300,regular,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar{
    width: 5px;
  }

  ::-webkit-scrollbar-track{
    background-color: black;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #a7b0bd;
  }
  body{
    background-color: #000000;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
  }

  p{
    color: #a7b0bd;
  }

  a{
    text-decoration: none;
    color: #a7b0bd;
    cursor: pointer;
  }

  a:hover{
    color: white;
  }

}

@layer components{
  .jetbrains{
    @apply font-["JetBrains_Mono"]
  }

  .spacegrotesk{
    @apply font-["Space_Grotesk"]
  }
  .spacemono{
    @apply font-["Space_Mono"]
  }
  .lexenddeca{
    @apply font-["Lexend_Deca"]
  }

  .socialIcons{
    @apply text-[#a7b0bd] hover:text-[#b2cbf4]
  }

  .button{
    @apply rounded-full p-6 border border-[#a7b0bd] bg-none py-3 text-[#a7b0bd] hover:bg-[#a7b0bd] hover:text-black
  }
}

@layer utilities{
  /* .link-hover{
    @apply hover:border-b-2 hover:border-orange transition
  } */
}

/* :root{
  --dark-grey: #747474;
} */